In [25]:
import pandas as pd

In [26]:
datas=pd.read_csv("/workspaces/Proyecto_Final_Grupo_9/pandas/Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")

In [27]:
datas

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,Datos Reales,Nota P1
0,1021674384,7382.000,7238.000,7202.00,36,7382.0,5
1,1028481694,8817.000,8645.000,8602,43,8817.0,5
2,1012976628,8612.000,8444.000,8402,42,8612.0,5
3,1103500518,4922.000,4826.000,4802.00,24,4922.0,5
4,1141316451,5537.000,5429.000,5402,27,5537.0,5
5,1127228530,6357.000,6233.000,6202,31,6357.0,5
6,1000794960,7382.000,7238.000,2.00,36,7382.0,5
7,1019606644,389866.330,3739.230,7402.00,37,7587.0,1
8,1104224296,6356.600,6233.000,62,31,6357.0,1
9,1094049572,8407.000,8243.000,8202,41,8407.0,5
10,1025062924,6.357,6.233,6.202,31,6357.0,1
11,1028485597,10047.000,9851.000,2,49,10047.0,5
12,1013037578,7177.000,7037.000,7002,35,7177.0,5
13,1113364165,6357.000,6233.000,6202.00,31,6357.0,5
14,1140914656,7587.000,7439.000,76,37,7587.0,5
15,1011095164,5740.000,5620.000,5600,28,5742.0,1
16,1193231792,175.000,152.000,1,38,7792.0,1
17,1077228324,7382.000,7238.000,"366,82",36,7382.0,5

In [78]:
def polinomio1(x):
  o = x*(101)**2 + (2*101) + 23
  t = x*(100)**2 + (2*100) + 23
  e = (o-t)/(101-100)
  return e
datas["P2"] = datas["N"].apply(polinomio1)



def calificacion1(x):
      if x["P2"] == x["Sea la función de costo C(x) = n*x^2 + 2*x + 23.\xa0\nHallar el costo promedio de producir\xa0 de 100 a 101 unidades (Poner dos decimales)\n"]:
        return 5
      else:
        return 1
datas["Calificaciones P2"] = datas.apply(calificacion1, axis = 1)
datas

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,Datos Reales,Nota P1,Datos Reales 2,Calificacion 2,P2,Calificaciones P2,Calificaciones P3
0,1021674384,7382.000,7238.000,7202.00,36,7382.0,5,7202.0,1,7238.0,5,5
1,1028481694,8817.000,8645.000,8602,43,8817.0,5,8602.0,1,8645.0,5,5
2,1012976628,8612.000,8444.000,8402,42,8612.0,5,8402.0,1,8444.0,5,5
3,1103500518,4922.000,4826.000,4802.00,24,4922.0,5,4802.0,1,4826.0,5,5
4,1141316451,5537.000,5429.000,5402,27,5537.0,5,5402.0,1,5429.0,5,5
5,1127228530,6357.000,6233.000,6202,31,6357.0,5,6202.0,1,6233.0,5,5
6,1000794960,7382.000,7238.000,2.00,36,7382.0,5,7202.0,1,7238.0,5,5
7,1019606644,389866.330,3739.230,7402.00,37,7587.0,1,7402.0,1,7439.0,1,0
8,1104224296,6356.600,6233.000,62,31,6357.0,1,6202.0,1,6233.0,5,5
9,1094049572,8407.000,8243.000,8202,41,8407.0,5,8202.0,1,8243.0,5,5
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6202.0,1,6233.0,1,0
11,1028485597,10047.000,9851.000,2,49,10047.0,5,9802.0,1,9851.0,5,5
12,1013037578,7177.000,7037.000,7002,35,7177.0,5,7002.0,1,7037.0,5,5
13,1113364165,6357.000,6233.000,6202.00,31,6357.0,5,6202.0,1,6233.0,5,5
14,1140914656,7587.000,7439.000,76,37,7587.0,5,7402.0,1,7439.0,5,5
15,1011095164,5740.000,5620.000,5600,28,5742.0,1,5602.0,1,5630.0,1,0
16,1193231792,175.000,152.000,1,38,7792.0,1,7602.0,1,7640.0,1,0
17,1077228324,7382.000,7238.000,"366,82",36,7382.0,5,7202.0,1,7238.0,5,5

In [88]:

datas=datas.drop(["Datos Reales 2","Calificacion 2","Calificaciones P3"],axis=1)

In [ ]:
def costo_marginal(x):
    c=(2*100*x) + 2
    return float(c)

datas["P3"]=datas["N"].apply(costo_marginal)
datas

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,Datos Reales,Nota P1,P2,Calificaciones P2,P3
0,1021674384,7382.000,7238.000,7202.00,36,7382.0,5,7238.0,5,7202.0
1,1028481694,8817.000,8645.000,8602,43,8817.0,5,8645.0,5,8602.0
2,1012976628,8612.000,8444.000,8402,42,8612.0,5,8444.0,5,8402.0
3,1103500518,4922.000,4826.000,4802.00,24,4922.0,5,4826.0,5,4802.0
4,1141316451,5537.000,5429.000,5402,27,5537.0,5,5429.0,5,5402.0
5,1127228530,6357.000,6233.000,6202,31,6357.0,5,6233.0,5,6202.0
6,1000794960,7382.000,7238.000,2.00,36,7382.0,5,7238.0,5,7202.0
7,1019606644,389866.330,3739.230,7402.00,37,7587.0,1,7439.0,1,7402.0
8,1104224296,6356.600,6233.000,62,31,6357.0,1,6233.0,5,6202.0
9,1094049572,8407.000,8243.000,8202,41,8407.0,5,8243.0,5,8202.0
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0
11,1028485597,10047.000,9851.000,2,49,10047.0,5,9851.0,5,9802.0
12,1013037578,7177.000,7037.000,7002,35,7177.0,5,7037.0,5,7002.0
13,1113364165,6357.000,6233.000,6202.00,31,6357.0,5,6233.0,5,6202.0
14,1140914656,7587.000,7439.000,76,37,7587.0,5,7439.0,5,7402.0
15,1011095164,5740.000,5620.000,5600,28,5742.0,1,5630.0,1,5602.0
16,1193231792,175.000,152.000,1,38,7792.0,1,7640.0,1,7602.0
17,1077228324,7382.000,7238.000,"366,82",36,7382.0,5,7238.0,5,7202.0

In [114]:
datas.iat[17,3]=float(datas.iat[17,3].replace(",","."))

In [117]:

def califica3(x):
     if x["P3"]==float(x["Sea la función de costo C(x) = n*x^2 + 2*x + 23.\xa0\nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales)"]):
        return 5
     else:
        return 1
datas["Calificaciones P3"]=datas.apply(califica3,axis=1)
datas

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,Datos Reales,Nota P1,P2,Calificaciones P2,P3,Calificaciones P3
0,1021674384,7382.000,7238.000,7202.00,36,7382.0,5,7238.0,5,7202.0,5
1,1028481694,8817.000,8645.000,8602,43,8817.0,5,8645.0,5,8602.0,5
2,1012976628,8612.000,8444.000,8402,42,8612.0,5,8444.0,5,8402.0,5
3,1103500518,4922.000,4826.000,4802.00,24,4922.0,5,4826.0,5,4802.0,5
4,1141316451,5537.000,5429.000,5402,27,5537.0,5,5429.0,5,5402.0,5
5,1127228530,6357.000,6233.000,6202,31,6357.0,5,6233.0,5,6202.0,5
6,1000794960,7382.000,7238.000,2.00,36,7382.0,5,7238.0,5,7202.0,1
7,1019606644,389866.330,3739.230,7402.00,37,7587.0,1,7439.0,1,7402.0,5
8,1104224296,6356.600,6233.000,62,31,6357.0,1,6233.0,5,6202.0,1
9,1094049572,8407.000,8243.000,8202,41,8407.0,5,8243.0,5,8202.0,5
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1
11,1028485597,10047.000,9851.000,2,49,10047.0,5,9851.0,5,9802.0,1
12,1013037578,7177.000,7037.000,7002,35,7177.0,5,7037.0,5,7002.0,5
13,1113364165,6357.000,6233.000,6202.00,31,6357.0,5,6233.0,5,6202.0,5
14,1140914656,7587.000,7439.000,76,37,7587.0,5,7439.0,5,7402.0,1
15,1011095164,5740.000,5620.000,5600,28,5742.0,1,5630.0,1,5602.0,1
16,1193231792,175.000,152.000,1,38,7792.0,1,7640.0,1,7602.0,1
17,1077228324,7382.000,7238.000,366.82,36,7382.0,5,7238.0,5,7202.0,1

In [116]:
datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 11 columns):
 #   Column                                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                                 --------------  -----
 0   Número de documento                                                                                                                                    18 non-null     int64
 1   Sea la función de costo C(x) = n*x^2 + 2*x + 23.
Hallar el costo promedio de producir  de 100 a 105 unidades (Poner dos decimales)                    18 non-null     float64
 2   Sea la función de costo C(x) = n*x^2 + 2*x + 23.
Hallar el costo promedio de producir  de 100 a 101 unidades (Poner dos decimales)
                   18 non-null     float64
 3   Sea la función de costo C(x) = n*x^2 + 2*x + 23.
Usar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales)  18 non-null     object
 4   N                                                                                                                                                      18 non-null     int64
 5   Datos Reales                                                                                                                                           18 non-null     float64
 6   Nota P1                                                                                                                                                18 non-null     int64
 7   P2                                                                                                                                                     18 non-null     float64
 8   Calificaciones P2                                                                                                                                      18 non-null     int64
 9   P3                                                                                                                                                     18 non-null     float64
 10  Calificaciones P3                                                                                                                                      18 non-null     int64
dtypes: float64(5), int64(5), object(1)
memory usage: 1.7+ KB

In [124]:
datas["Calificaciones P2"]
def sumas(x):
    nota=sum([x["Nota P1"],x["Calificaciones P2"],x["Calificaciones P3"]])/3
    return round(nota,2)
datas["Nota Final"]=datas.apply(sumas,axis=1)
datas

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,Datos Reales,Nota P1,P2,Calificaciones P2,P3,Calificaciones P3,Nota Final
0,1021674384,7382.000,7238.000,7202.00,36,7382.0,5,7238.0,5,7202.0,5,5.00
1,1028481694,8817.000,8645.000,8602,43,8817.0,5,8645.0,5,8602.0,5,5.00
2,1012976628,8612.000,8444.000,8402,42,8612.0,5,8444.0,5,8402.0,5,5.00
3,1103500518,4922.000,4826.000,4802.00,24,4922.0,5,4826.0,5,4802.0,5,5.00
4,1141316451,5537.000,5429.000,5402,27,5537.0,5,5429.0,5,5402.0,5,5.00
5,1127228530,6357.000,6233.000,6202,31,6357.0,5,6233.0,5,6202.0,5,5.00
6,1000794960,7382.000,7238.000,2.00,36,7382.0,5,7238.0,5,7202.0,1,3.67
7,1019606644,389866.330,3739.230,7402.00,37,7587.0,1,7439.0,1,7402.0,5,2.33
8,1104224296,6356.600,6233.000,62,31,6357.0,1,6233.0,5,6202.0,1,2.33
9,1094049572,8407.000,8243.000,8202,41,8407.0,5,8243.0,5,8202.0,5,5.00
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1,1.00
11,1028485597,10047.000,9851.000,2,49,10047.0,5,9851.0,5,9802.0,1,3.67
12,1013037578,7177.000,7037.000,7002,35,7177.0,5,7037.0,5,7002.0,5,5.00
13,1113364165,6357.000,6233.000,6202.00,31,6357.0,5,6233.0,5,6202.0,5,5.00
14,1140914656,7587.000,7439.000,76,37,7587.0,5,7439.0,5,7402.0,1,3.67
15,1011095164,5740.000,5620.000,5600,28,5742.0,1,5630.0,1,5602.0,1,1.00
16,1193231792,175.000,152.000,1,38,7792.0,1,7640.0,1,7602.0,1,1.00
17,1077228324,7382.000,7238.000,366.82,36,7382.0,5,7238.0,5,7202.0,1,3.67

In [125]:
datas.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv",index=False)