In [1]:
import pandas as pd
import numpy as np

In [2]:
datas = pd.read_csv("/workspaces/Proyecto_Final_Grupo_9/pandas/Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")
datas

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,P1,CP1,P2,CP2,P3,CP3,NF
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202.0,5,5.00
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602.0,5,5.00
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402.0,5,5.00
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802.0,5,5.00
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402.0,5,5.00
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.00
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202.0,1,3.67
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402.0,5,2.33
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,5,6202.0,1,2.33
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202.0,5,5.00
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1,1.00
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802.0,1,3.67
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002.0,5,5.00
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.00
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402.0,1,3.67
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602.0,1,1.00
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602.0,1,1.00
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202.0,1,3.67

In [3]:
def suma(x):
  p = 0
  for i in str(x):
    p += int(i)
  return p

In [4]:
datas["N"] = datas["Número de documento"].apply(suma)
datas

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,P1,CP1,P2,CP2,P3,CP3,NF
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202.0,5,5.00
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602.0,5,5.00
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402.0,5,5.00
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802.0,5,5.00
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402.0,5,5.00
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.00
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202.0,1,3.67
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402.0,5,2.33
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,5,6202.0,1,2.33
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202.0,5,5.00
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1,1.00
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802.0,1,3.67
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002.0,5,5.00
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.00
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402.0,1,3.67
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602.0,1,1.00
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602.0,1,1.00
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202.0,1,3.67

In [5]:
def polinomio(x):
  m = x*(105)**2 + (2*105) + 23
  v = x*(100)**2 + (2*100) + 23
  h = (m-v)/(105-100)
  return h
datas["Datos Reales"] = datas["N"].apply(polinomio)
datas

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,P1,CP1,P2,CP2,P3,CP3,NF,Datos Reales
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202.0,5,5.00,7382.0
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602.0,5,5.00,8817.0
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402.0,5,5.00,8612.0
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802.0,5,5.00,4922.0
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402.0,5,5.00,5537.0
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.00,6357.0
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202.0,1,3.67,7382.0
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402.0,5,2.33,7587.0
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,5,6202.0,1,2.33,6357.0
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202.0,5,5.00,8407.0
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1,1.00,6357.0
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802.0,1,3.67,10047.0
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002.0,5,5.00,7177.0
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.00,6357.0
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402.0,1,3.67,7587.0
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602.0,1,1.00,5742.0
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602.0,1,1.00,7792.0
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202.0,1,3.67,7382.0

In [6]:
def calificacion(x):
      if x["Datos Reales"] == x['Sea la función de costo C(x) = n*x^2 + 2*x + 23.\xa0\nHallar el costo promedio de producir\xa0 de 100 a 105 unidades (Poner dos decimales)']:
        return 5
      else:
        return 1
datas["Nota P1"] = datas.apply(calificacion, axis = 1)
datas

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,P1,CP1,P2,CP2,P3,CP3,NF,Datos Reales,Nota P1
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202.0,5,5.00,7382.0,5
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602.0,5,5.00,8817.0,5
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402.0,5,5.00,8612.0,5
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802.0,5,5.00,4922.0,5
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402.0,5,5.00,5537.0,5
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.00,6357.0,5
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202.0,1,3.67,7382.0,5
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402.0,5,2.33,7587.0,1
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,5,6202.0,1,2.33,6357.0,1
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202.0,5,5.00,8407.0,5
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1,1.00,6357.0,1
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802.0,1,3.67,10047.0,5
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002.0,5,5.00,7177.0,5
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.00,6357.0,5
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402.0,1,3.67,7587.0,5
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602.0,1,1.00,5742.0,1
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602.0,1,1.00,7792.0,1
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202.0,1,3.67,7382.0,5

In [7]:
datas = datas.rename(columns = {"Datos Reales":"P1" , "Nota P1":"CP1"})
datas

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,P1,CP1,P2,CP2,P3,CP3,NF,P1,CP1
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202.0,5,5.00,7382.0,5
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602.0,5,5.00,8817.0,5
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402.0,5,5.00,8612.0,5
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802.0,5,5.00,4922.0,5
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402.0,5,5.00,5537.0,5
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.00,6357.0,5
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202.0,1,3.67,7382.0,5
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402.0,5,2.33,7587.0,1
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,5,6202.0,1,2.33,6357.0,1
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202.0,5,5.00,8407.0,5
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1,1.00,6357.0,1
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802.0,1,3.67,10047.0,5
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002.0,5,5.00,7177.0,5
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.00,6357.0,5
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402.0,1,3.67,7587.0,5
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602.0,1,1.00,5742.0,1
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602.0,1,1.00,7792.0,1
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202.0,1,3.67,7382.0,5

In [14]:
df=pd.read_csv("/workspaces/Proyecto_Final_Grupo_9/TITANIC/test_Titanic.csv")
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [15]:
df=df.fillna(0)

In [16]:
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,0,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,0,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,0,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,0,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,0,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,0.0,0,0,A.5. 3236,8.0500,0,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,0,S
416,1308,3,"Ware, Mr. Frederick",male,0.0,0,0,359309,8.0500,0,S
417,1309,3,"Peter, Master. Michael J",male,0.0,1,1,2668,22.3583,0,C

In [ ]:
def promedios(nombre_archivo, nombre_columna):
    df= pd.read_csv(nombre_archivo)
    if nombre_columna not in df:
        raise  ValueError('Error al procesar la columna')
    else:
        def prom(x):
            p = 0
            for i in x:
                p += i
            promedio = p/len(x)
            return promedio
        return prom(df[nombre_columna])
    
promedios("", "Age")

nan