In [3]:
import pandas as pd
df=pd.read_csv("/workspaces/Proyecto_Final_Grupo_9/TITANIC/test_Titanic.csv")

In [4]:
print(df["Pclass"].value_counts())

Pclass
3    218
1    107
2     93
Name: count, dtype: int64

In [5]:
print(df.groupby("Sex")["Age"].mean())

Sex
female    25.293355
male      23.330489
Name: Age, dtype: float64