In [38]:
import pandas as pd
df=pd.read_csv("/workspaces/Proyecto_Final_Grupo_9/TITANIC/test_Titanic.csv")
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,0,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,0,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,0,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,0,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,0,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,0.0,0,0,A.5. 3236,8.0500,0,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,0,S
416,1308,3,"Ware, Mr. Frederick",male,0.0,0,0,359309,8.0500,0,S
417,1309,3,"Peter, Master. Michael J",male,0.0,1,1,2668,22.3583,0,C

In [39]:
d={}
l=df["Pclass"]
lista=[]
for i in l:
    lista.append(i)
for i in lista:
    if i not in d:
        d[f"clase {i}"]=f"Tiene {lista.count(i)} personas"
d

{'clase 3': 'Tiene 218 personas',
 'clase 2': 'Tiene 93 personas',
 'clase 1': 'Tiene 107 personas'}

In [40]:
lista_edad=[]
lista_sex=[]
for i in df["Age"]:
    lista_edad.append(i)
for i in df["Sex"]:
    lista_sex.append(i)
edades_hombre=0
edades_mujer=0
for i in range(len(lista_edad)):
    if lista_sex[i]=="male":
        edades_hombre+=lista_edad[i]
    else:
        edades_mujer+=lista_edad[i]
edades_hombre= edades_hombre/lista_sex.count("male")
edades_mujer= edades_mujer/lista_sex.count("female")
d={}
d["Promedio_edad_mujer"]=edades_mujer
d["Promedio_edad_hombre"]=edades_hombre
d

{'Promedio_edad_mujer': 25.293355263157896,
 'Promedio_edad_hombre': 23.33048872180451}