In [ ]:
import pandas as pd
data=pd.read_csv("test_Titanic.csv")
def Nclase(datas):
     return datas['Pclass'].value_counts()
def age_m_sex(datas):
        return datas.groupby('Sex')['Age'].mean()
Nclase(data)

Pclass
3    218
1    107
2     93
Name: count, dtype: int64

In [7]:
age_m_sex(data)

Sex
female    25.293355
male      23.330489
Name: Age, dtype: float64